<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.procost.Fea_productcostBVOMapper">
    
	<sql id="fea_productcostBVOColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.costtype AS "costtype",
		a.costunit AS "costunit",
		a.year1 AS "year1",
		a.year2 AS "year2",
		a.year3 AS "year3",
		a.pkproductcost AS "fea_productcost.id",
		a.year4 AS "year4",
		a.year5 AS "year5",
		a.year6 AS "year6",
		a.year7 AS "year7",
		a.year8 AS "year8",
		a.year9 AS "year9",
		a.year10 AS "year10",
		a.year11 AS "year11",
		a.remarks AS "remarks",
		a.year12 AS "year12",
		a.year13 AS "year13",
		a.year14 AS "year14",
		a.year15 AS "year15",
		a.year16 AS "year16",
		a.year17 AS "year17",
		a.year18 AS "year18",
		a.year19 AS "year19",
		a.year20 AS "year20",
		a.year21 AS "year21",
		a.year22 AS "year22",
		a.year23 AS "year23",
		a.year24 AS "year24",
		a.year25 AS "year25",
		a.year26 AS "year26",
		a.year27 AS "year27",
		a.year28 AS "year28",
		a.year29 AS "year29",
		a.year30 AS "year30",
		a.year31 AS "year31",
		a.year32 AS "year32"
	</sql>
	
	<sql id="fea_productcostBVOJoins">
		
			LEFT JOIN fea_productcost b ON b.id = a.pkproductcost
	</sql>
	
    
	<select id="get" resultType="Fea_productcostBVO" >
		SELECT 
			<include refid="fea_productcostBVOColumns"/>
		FROM fea_productcostb a
		<include refid="fea_productcostBVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_productcostBVO" >
		SELECT 
			<include refid="fea_productcostBVOColumns"/>
		FROM fea_productcostb a
		<include refid="fea_productcostBVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="fea_productcost != null and fea_productcost.id != null and fea_productcost.id != ''">
				AND a.pkproductcost = #{fea_productcost.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_productcostBVO" >
		SELECT 
			<include refid="fea_productcostBVOColumns"/>
		FROM fea_productcostb a
		<include refid="fea_productcostBVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_productcostb(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			costtype,
			costunit,
			year1,
			year2,
			year3,
			pkproductcost,
			year4,
			year5,
			year6,
			year7,
			year8,
			year9,
			year10,
			year11,
			remarks,
			year12,
			year13,
			year14,
			year15,
			year16,
			year17,
			year18,
			year19,
			year20,
			year21,
			year22,
			year23,
			year24,
			year25,
			year26,
			year27,
			year28,
			year29,
			year30,
			year31,
			year32
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{costtype},
			#{costunit},
			#{year1},
			#{year2},
			#{year3},
			#{fea_productcost.id},
			#{year4},
			#{year5},
			#{year6},
			#{year7},
			#{year8},
			#{year9},
			#{year10},
			#{year11},
			#{remarks},
			#{year12},
			#{year13},
			#{year14},
			#{year15},
			#{year16},
			#{year17},
			#{year18},
			#{year19},
			#{year20},
			#{year21},
			#{year22},
			#{year23},
			#{year24},
			#{year25},
			#{year26},
			#{year27},
			#{year28},
			#{year29},
			#{year30},
			#{year31},
			#{year32}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_productcostb SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			costtype = #{costtype},
			costunit = #{costunit},
			year1 = #{year1},
			year2 = #{year2},
			year3 = #{year3},
			pkproductcost = #{fea_productcost.id},
			year4 = #{year4},
			year5 = #{year5},
			year6 = #{year6},
			year7 = #{year7},
			year8 = #{year8},
			year9 = #{year9},
			year10 = #{year10},
			year11 = #{year11},
			remarks = #{remarks},
			year12 = #{year12},
			year13 = #{year13},
			year14 = #{year14},
			year15 = #{year15},
			year16 = #{year16},
			year17 = #{year17},
			year18 = #{year18},
			year19 = #{year19},
			year20 = #{year20},
			year21 = #{year21},
			year22 = #{year22},
			year23 = #{year23},
			year24 = #{year24},
			year25 = #{year25},
			year26 = #{year26},
			year27 = #{year27},
			year28 = #{year28},
			year29 = #{year29},
			year30 = #{year30},
			year31 = #{year31},
			year32 = #{year32}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_productcostb
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkproductcost = #{fea_productcost.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_productcostb SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkproductcost = #{fea_productcost.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_productcostBVO" statementType="STATEMENT">
		select * FROM fea_productcostb  where ${propertyName} = '${value}'
	</select>
	
</mapper>