<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.procost.Fea_productcostVOMapper">
    
	<sql id="fea_productcostVOColumns">
		a.id AS "id",
		a.project_id AS "feaProjectB.id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.projectcode AS "projectcode",
		a.projectname AS "projectname",
		a.persons AS "persons",
		a.perwage AS "perwage",
		a.welfare AS "welfare",
		a.material AS "material",
		a.insurance AS "insurance",
		a.bsrcost AS "wateramt",
		a.remarks AS "remarks",
		a.heatdeposit AS "heatdeposit",
		a.intangibletx AS "intangibletx",
		a.otherassettx AS "otherassettx",
		a.othercost AS "othercost",
				
		feaProjectB.project_name AS "feaProjectB.projectName"
	</sql>
	
	<sql id="fea_productcostVOJoins">
		
		LEFT JOIN fea_project_b feaProjectB ON feaProjectB.id = a.project_id
	</sql>
	
    
	<select id="get" resultType="Fea_productcostVO" >
		SELECT 
			<include refid="fea_productcostVOColumns"/>
		FROM fea_productcost a
		<include refid="fea_productcostVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_productcostVO" >
		SELECT 
			<include refid="fea_productcostVOColumns"/>
		FROM fea_productcost a
		<include refid="fea_productcostVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="feaProjectB != null and feaProjectB.id != null and feaProjectB.id != ''">
				AND a.project_id = #{feaProjectB.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_productcostVO" >
		SELECT 
			<include refid="fea_productcostVOColumns"/>
		FROM fea_productcost a
		<include refid="fea_productcostVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_productcost(
			id,
			project_id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			projectcode,
			projectname,
			persons,
			perwage,
			welfare,
			material,
			insurance,
			bsrcost,
			remarks,
			heatdeposit,
			intangibletx,
			otherassettx,
			othercost
		) VALUES (
			#{id},
			#{feaProjectB.id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{projectcode},
			#{projectname},
			#{persons},
			#{perwage},
			#{welfare},
			#{material},
			#{insurance},
			#{wateramt},
			#{remarks},
			#{heatdeposit},
			#{intangibletx},
			#{otherassettx},
			#{othercost}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_productcost SET 	
			project_id = #{feaProjectB.id},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			projectcode = #{projectcode},
			projectname = #{projectname},
			persons = #{persons},
			perwage = #{perwage},
			welfare = #{welfare},
			material = #{material},
			insurance = #{insurance},
			bsrcost = #{wateramt},
			remarks = #{remarks},
			heatdeposit = #{heatdeposit},
			intangibletx = #{intangibletx},
			otherassettx = #{otherassettx},
			othercost = #{othercost}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_productcost
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_productcost SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_productcostVO" statementType="STATEMENT">
		select * FROM fea_productcost  where ${propertyName} = '${value}'
	</select>
	
</mapper>