<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.design_set.Fea_design_setxhVOMapper">
    
	<sql id="fea_design_setxhVOColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.xhprice AS "xhprice"
	</sql>
	
	<sql id="fea_design_setxhVOJoins">
		
	</sql>
	
    
	<select id="get" resultType="Fea_design_setxhVO" >
		SELECT 
			<include refid="fea_design_setxhVOColumns"/>
		FROM fea_design_setxh a
		<include refid="fea_design_setxhVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_design_setxhVO" >
		SELECT 
			<include refid="fea_design_setxhVOColumns"/>
		FROM fea_design_setxh a
		<include refid="fea_design_setxhVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_design_setxhVO" >
		SELECT 
			<include refid="fea_design_setxhVOColumns"/>
		FROM fea_design_setxh a
		<include refid="fea_design_setxhVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_design_setxh(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			xhprice
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{xhprice}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_design_setxh SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			xhprice = #{xhprice}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_design_setxh
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_design_setxh SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_design_setxhVO" statementType="STATEMENT">
		select * FROM fea_design_setxh  where ${propertyName} = '${value}'
	</select>
	
</mapper>