<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.calmethod.Fea_incocalmethodVOMapper">
    
	<sql id="fea_incocalmethodVOColumns">
		a.id AS "id",
		a.project_id AS "feaProjectB.id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.projectcode AS "projectcode",
		a.projectname AS "projectname",
		a.calmethod AS "calmethod",
		a.incometype AS "incometype",
		a.targetval AS "targetval",
				
		feaProjectB.project_name AS "feaProjectB.projectName"
	</sql>
	
	<sql id="fea_incocalmethodVOJoins">
		
		LEFT JOIN fea_project_b feaProjectB ON feaProjectB.id = a.project_id
	</sql>
	
    
	<select id="get" resultType="Fea_incocalmethodVO" >
		SELECT 
			<include refid="fea_incocalmethodVOColumns"/>
		FROM fea_incocalmethod a
		<include refid="fea_incocalmethodVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_incocalmethodVO" >
		SELECT 
			<include refid="fea_incocalmethodVOColumns"/>
		FROM fea_incocalmethod a
		<include refid="fea_incocalmethodVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_incocalmethodVO" >
		SELECT 
			<include refid="fea_incocalmethodVOColumns"/>
		FROM fea_incocalmethod a
		<include refid="fea_incocalmethodVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_incocalmethod(
			id,
			project_id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			projectcode,
			projectname,
			calmethod,
			incometype,
			targetval
		) VALUES (
			#{id},
			#{feaProjectB.id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{projectcode},
			#{projectname},
			#{calmethod},
			#{incometype},
			#{targetval}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_incocalmethod SET 	
			project_id = #{feaProjectB.id},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			projectcode = #{projectcode},
			projectname = #{projectname},
			calmethod = #{calmethod},
			incometype = #{incometype},
			targetval = #{targetval}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_incocalmethod
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_incocalmethod SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_incocalmethodVO" statementType="STATEMENT">
		select * FROM fea_incocalmethod  where ${propertyName} = '${value}'
	</select>
	
</mapper>