<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.calmethod.Fea_incocalmethodBVOMapper">
    
	<sql id="fea_incocalmethodBVOColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.itemtype AS "itemtype",
		a.unitname AS "unitname",
		a.year17 AS "year17",
		a.year18 AS "year18",
		a.year19 AS "year19",
		a.year20 AS "year20",
		a.year21 AS "year21",
		a.year22 AS "year22",
		a.year23 AS "year23",
		a.year24 AS "year24",
		a.year25 AS "year25",
		a.year26 AS "year26",
		a.pkincocalmth AS "fea_incocalmethod.id"
	</sql>
	
	<sql id="fea_incocalmethodBVOJoins">
		
			LEFT JOIN fea_incocalmethod b ON b.id = a.pkincocalmth
	</sql>
	
    
	<select id="get" resultType="Fea_incocalmethodBVO" >
		SELECT 
			<include refid="fea_incocalmethodBVOColumns"/>
		FROM fea_incocalmethod_b a
		<include refid="fea_incocalmethodBVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_incocalmethodBVO" >
		SELECT 
			<include refid="fea_incocalmethodBVOColumns"/>
		FROM fea_incocalmethod_b a
		<include refid="fea_incocalmethodBVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="fea_incocalmethod != null and fea_incocalmethod.id != null and fea_incocalmethod.id != ''">
				AND a.pkincocalmth = #{fea_incocalmethod.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_incocalmethodBVO" >
		SELECT 
			<include refid="fea_incocalmethodBVOColumns"/>
		FROM fea_incocalmethod_b a
		<include refid="fea_incocalmethodBVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_incocalmethod_b(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			itemtype,
			unitname,
			year17,
			year18,
			year19,
			year20,
			year21,
			year22,
			year23,
			year24,
			year25,
			year26,
			pkincocalmth
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{itemtype},
			#{unitname},
			#{year17},
			#{year18},
			#{year19},
			#{year20},
			#{year21},
			#{year22},
			#{year23},
			#{year24},
			#{year25},
			#{year26},
			#{fea_incocalmethod.id}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_incocalmethod_b SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			itemtype = #{itemtype},
			unitname = #{unitname},
			year17 = #{year17},
			year18 = #{year18},
			year19 = #{year19},
			year20 = #{year20},
			year21 = #{year21},
			year22 = #{year22},
			year23 = #{year23},
			year24 = #{year24},
			year25 = #{year25},
			year26 = #{year26}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_incocalmethod_b
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkincocalmth = #{fea_incocalmethod.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_incocalmethod_b SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkincocalmth = #{fea_incocalmethod.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_incocalmethodBVO" statementType="STATEMENT">
		select * FROM fea_incocalmethod_b  where ${propertyName} = '${value}'
	</select>
	
</mapper>