<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.totaltab.Fea_finansumVOMapper">
    
	<sql id="fea_finansumVOColumns">
		a.id AS "id",
		a.project_id AS "feaProjectB.id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.heatarea AS "heatarea",
		a.cgheatarea AS "cgheatarea",
		a.investtotal AS "investtotal",
				
		feaProjectB.project_name AS "feaProjectB.projectName"
	</sql>
	
	<sql id="fea_finansumVOJoins">
		
		LEFT JOIN fea_project_b feaProjectB ON feaProjectB.id = a.project_id
	</sql>
	
    
	<select id="get" resultType="Fea_finansumVO" >
		SELECT 
			<include refid="fea_finansumVOColumns"/>
		FROM fea_finansum a
		<include refid="fea_finansumVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_finansumVO" >
		SELECT 
			<include refid="fea_finansumVOColumns"/>
		FROM fea_finansum a
		<include refid="fea_finansumVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_finansumVO" >
		SELECT 
			<include refid="fea_finansumVOColumns"/>
		FROM fea_finansum a
		<include refid="fea_finansumVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_finansum(
			id,
			project_id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			heatarea,
			cgheatarea,
			investtotal
		) VALUES (
			#{id},
			#{feaProjectB.id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{heatarea},
			#{cgheatarea},
			#{investtotal}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_finansum SET 	
			project_id = #{feaProjectB.id},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			heatarea = #{heatarea},
			cgheatarea = #{cgheatarea},
			investtotal = #{investtotal}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_finansum
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_finansum SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_finansumVO" statementType="STATEMENT">
		select * FROM fea_finansum  where ${propertyName} = '${value}'
	</select>
	
</mapper>