<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.funds.Fea_fundssrcTVOMapper">
    
	<sql id="fea_fundssrcTVOColumns">
		a.id AS "id",
		a.del_flag AS "delFlag",
		a.loantyp AS "loantyp",
		a.currency AS "currency",
		a.exchangerate AS "exchangerate",
		a.loanprop AS "loanprop",
		a.loanamt AS "loanamt",
		a.interestcount AS "interestcount",
		a.principalrate AS "principalrate",
		a.langrate AS "langrate",
		a.repaytype AS "repaytype",
		a.repayperiod AS "repayperiod",
		a.commitrate AS "commitrate",
		a.graceperiod AS "graceperiod",
		a.pkfundssrc AS "fea_fundssrc.id",
		a.remarks AS "remarks"
	</sql>
	
	<sql id="fea_fundssrcTVOJoins">
		
			LEFT JOIN fea_fundssrc b ON b.id = a.pkfundssrc
	</sql>
	
    
	<select id="get" resultType="Fea_fundssrcTVO" >
		SELECT 
			<include refid="fea_fundssrcTVOColumns"/>
		FROM fea_fundssrc_t a
		<include refid="fea_fundssrcTVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_fundssrcTVO" >
		SELECT 
			<include refid="fea_fundssrcTVOColumns"/>
		FROM fea_fundssrc_t a
		<include refid="fea_fundssrcTVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="fea_fundssrc != null and fea_fundssrc.id != null and fea_fundssrc.id != ''">
				AND a.pkfundssrc = #{fea_fundssrc.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_fundssrcTVO" >
		SELECT 
			<include refid="fea_fundssrcTVOColumns"/>
		FROM fea_fundssrc_t a
		<include refid="fea_fundssrcTVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_fundssrc_t(
			id,
			del_flag,
			loantyp,
			currency,
			exchangerate,
			loanprop,
			loanamt,
			interestcount,
			principalrate,
			langrate,
			repaytype,
			repayperiod,
			commitrate,
			graceperiod,
			pkfundssrc,
			remarks
		) VALUES (
			#{id},
			#{delFlag},
			#{loantyp},
			#{currency},
			#{exchangerate},
			#{loanprop},
			#{loanamt},
			#{interestcount},
			#{principalrate},
			#{langrate},
			#{repaytype},
			#{repayperiod},
			#{commitrate},
			#{graceperiod},
			#{fea_fundssrc.id},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_fundssrc_t SET 	
			loantyp = #{loantyp},
			currency = #{currency},
			exchangerate = #{exchangerate},
			loanprop = #{loanprop},
			loanamt = #{loanamt},
			interestcount = #{interestcount},
			principalrate = #{principalrate},
			langrate = #{langrate},
			repaytype = #{repaytype},
			repayperiod = #{repayperiod},
			commitrate = #{commitrate},
			graceperiod = #{graceperiod},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_fundssrc_t
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkfundssrc = #{fea_fundssrc.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_fundssrc_t SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkfundssrc = #{fea_fundssrc.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_fundssrcTVO" statementType="STATEMENT">
		select * FROM fea_fundssrc_t  where ${propertyName} = '${value}'
	</select>
	
</mapper>