<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.funds.Fea_investdisVOMapper">
    
	<sql id="fea_investdisVOColumns">
		a.id AS "id",
		a.project_id AS "feaProjectB.id",
		a.projectcode AS "projectcode",
		a.projectname AS "projectname",
		a.year AS "year",
		a.investprop AS "investprop",
		a.investamt AS "investamt",
		a.deductvtax AS "deductvtax",
		a.cappropsum AS "cappropsum",
		a.loanpropsum AS "loanpropsum",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.heatarea AS "heatarea",
		a.dept AS "office.id",
		a.pk_corp AS "pk_corp",
				
		feaProjectB.project_name AS "feaProjectB.projectName",
				
		office.name AS "office.name"
	</sql>
	
	<sql id="fea_investdisVOJoins">
		
		LEFT JOIN fea_project_b feaProjectB ON feaProjectB.id = a.project_id
		LEFT JOIN sys_office office ON office.id = a.dept
	</sql>
	
    
	<select id="get" resultType="Fea_investdisVO" >
		SELECT 
			<include refid="fea_investdisVOColumns"/>
		FROM fea_investdis a
		<include refid="fea_investdisVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_investdisVO" >
		SELECT 
			<include refid="fea_investdisVOColumns"/>
		FROM fea_investdis a
		<include refid="fea_investdisVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_investdisVO" >
		SELECT 
			<include refid="fea_investdisVOColumns"/>
		FROM fea_investdis a
		<include refid="fea_investdisVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_investdis(
			id,
			project_id,
			projectcode,
			projectname,
			year,
			investprop,
			investamt,
			deductvtax,
			cappropsum,
			loanpropsum,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			heatarea,
			dept,
			pk_corp
		) VALUES (
			#{id},
			#{feaProjectB.id},
			#{projectcode},
			#{projectname},
			#{year},
			#{investprop},
			#{investamt},
			#{deductvtax},
			#{cappropsum},
			#{loanpropsum},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{heatarea},
			#{office.id},
			#{pk_corp}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_investdis SET 	
			project_id = #{feaProjectB.id},
			projectcode = #{projectcode},
			projectname = #{projectname},
			year = #{year},
			investprop = #{investprop},
			investamt = #{investamt},
			deductvtax = #{deductvtax},
			cappropsum = #{cappropsum},
			loanpropsum = #{loanpropsum},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			heatarea = #{heatarea},
			dept = #{office.id},
			pk_corp = #{pk_corp}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_investdis
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_investdis SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_investdisVO" statementType="STATEMENT">
		select * FROM fea_investdis  where ${propertyName} = '${value}'
	</select>
	
</mapper>