<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.funds.Fea_capformVOMapper">
    
	<sql id="fea_capformVOColumns">
		a.id AS "id",
		a.project_id AS "feaProjectB.id",
		a.projectcode AS "projectcode",
		a.projectname AS "projectname",
		a.fixassetprop AS "fixassetprop",
		a.uselifefat AS "uselifefat",
		a.residualrate AS "residualrate",
		a.intangibleprop AS "intangibleprop",
		a.usefullitb AS "usefullitb",
		a.otherprop AS "otherprop",
		a.uselifeother AS "uselifeother",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
		feaProjectB.project_name AS "feaProjectB.projectName"
	</sql>
	
	<sql id="fea_capformVOJoins">
		
		LEFT JOIN fea_project_b feaProjectB ON feaProjectB.id = a.project_id
	</sql>
	
    
	<select id="get" resultType="Fea_capformVO" >
		SELECT 
			<include refid="fea_capformVOColumns"/>
		FROM fea_capform a
		<include refid="fea_capformVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_capformVO" >
		SELECT 
			<include refid="fea_capformVOColumns"/>
		FROM fea_capform a
		<include refid="fea_capformVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_capformVO" >
		SELECT 
			<include refid="fea_capformVOColumns"/>
		FROM fea_capform a
		<include refid="fea_capformVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_capform(
			id,
			project_id,
			projectcode,
			projectname,
			fixassetprop,
			uselifefat,
			residualrate,
			intangibleprop,
			usefullitb,
			otherprop,
			uselifeother,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{feaProjectB.id},
			#{projectcode},
			#{projectname},
			#{fixassetprop},
			#{uselifefat},
			#{residualrate},
			#{intangibleprop},
			#{usefullitb},
			#{otherprop},
			#{uselifeother},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_capform SET 	
			project_id = #{feaProjectB.id},
			projectcode = #{projectcode},
			projectname = #{projectname},
			fixassetprop = #{fixassetprop},
			uselifefat = #{uselifefat},
			residualrate = #{residualrate},
			intangibleprop = #{intangibleprop},
			usefullitb = #{usefullitb},
			otherprop = #{otherprop},
			uselifeother = #{uselifeother},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_capform
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_capform SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_capformVO" statementType="STATEMENT">
		select * FROM fea_capform  where ${propertyName} = '${value}'
	</select>
	
</mapper>