<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.funds.Fea_fundssrcBVOMapper">
    
	<sql id="fea_fundssrcBVOColumns">
		a.id AS "id",
		a.del_flag AS "delFlag",
		a.capitaltype  AS "capitaltype ",
		a.currency AS "currency",
		a.exchangerate AS "exchangerate",
		a.capprop AS "capprop",
		a.capamt AS "capamt",
		a.jstzamt AS "jstzamt",
		a.ldtzamt AS "ldtzamt",
		a.pkfundssrc AS "fea_fundssrc.id",
		a.remarks AS "remarks"
	</sql>
	
	<sql id="fea_fundssrcBVOJoins">
		
			LEFT JOIN fea_fundssrc b ON b.id = a.pkfundssrc
	</sql>
	
    
	<select id="get" resultType="Fea_fundssrcBVO" >
		SELECT 
			<include refid="fea_fundssrcBVOColumns"/>
		FROM fea_fundssrc_b a
		<include refid="fea_fundssrcBVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_fundssrcBVO" >
		SELECT 
			<include refid="fea_fundssrcBVOColumns"/>
		FROM fea_fundssrc_b a
		<include refid="fea_fundssrcBVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="fea_fundssrc != null and fea_fundssrc.id != null and fea_fundssrc.id != ''">
				AND a.pkfundssrc = #{fea_fundssrc.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_fundssrcBVO" >
		SELECT 
			<include refid="fea_fundssrcBVOColumns"/>
		FROM fea_fundssrc_b a
		<include refid="fea_fundssrcBVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_fundssrc_b(
			id,
			del_flag,
			capitaltype ,
			currency,
			exchangerate,
			capprop,
			capamt,
			jstzamt,
			ldtzamt,
			pkfundssrc,
			remarks
		) VALUES (
			#{id},
			#{delFlag},
			#{capitaltype },
			#{currency},
			#{exchangerate},
			#{capprop},
			#{capamt},
			#{jstzamt},
			#{ldtzamt},
			#{fea_fundssrc.id},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_fundssrc_b SET 	
			capitaltype  = #{capitaltype },
			currency = #{currency},
			exchangerate = #{exchangerate},
			capprop = #{capprop},
			capamt = #{capamt},
			jstzamt = #{jstzamt},
			ldtzamt = #{ldtzamt},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_fundssrc_b
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkfundssrc = #{fea_fundssrc.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_fundssrc_b SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkfundssrc = #{fea_fundssrc.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_fundssrcBVO" statementType="STATEMENT">
		select * FROM fea_fundssrc_b  where ${propertyName} = '${value}'
	</select>
	
</mapper>