<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.funds.Fea_investdisBVOMapper">
    
	<sql id="fea_investdisBVOColumns">
		a.id AS "id",
		a.zjname AS "zjname",
		a.investtype AS "investtype",
		a.investprop AS "investprop",
		a.investamt AS "investamt",
		a.pkinvestdis AS "fea_investdis.id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.jsamt AS "jsamt",
		a.ldamt AS "ldamt"
	</sql>
	
	<sql id="fea_investdisBVOJoins">
		
			LEFT JOIN fea_investdis b ON b.id = a.pkinvestdis
	</sql>
	
    
	<select id="get" resultType="Fea_investdisBVO" >
		SELECT 
			<include refid="fea_investdisBVOColumns"/>
		FROM fea_investdis_b a
		<include refid="fea_investdisBVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_investdisBVO" >
		SELECT 
			<include refid="fea_investdisBVOColumns"/>
		FROM fea_investdis_b a
		<include refid="fea_investdisBVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="fea_investdis != null and fea_investdis.id != null and fea_investdis.id != ''">
				AND a.pkinvestdis = #{fea_investdis.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_investdisBVO" >
		SELECT 
			<include refid="fea_investdisBVOColumns"/>
		FROM fea_investdis_b a
		<include refid="fea_investdisBVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_investdis_b(
			id,
			zjname,
			investtype,
			investprop,
			investamt,
			pkinvestdis,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			jsamt,
			ldamt
		) VALUES (
			#{id},
			#{zjname},
			#{investtype},
			#{investprop},
			#{investamt},
			#{fea_investdis.id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{jsamt},
			#{ldamt}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_investdis_b SET 	
			zjname = #{zjname},
			investtype = #{investtype},
			investprop = #{investprop},
			investamt = #{investamt},
			pkinvestdis = #{fea_investdis.id},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			jsamt = #{jsamt},
			ldamt = #{ldamt}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_investdis_b
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkinvestdis = #{fea_investdis.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_investdis_b SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pkinvestdis = #{fea_investdis.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_investdisBVO" statementType="STATEMENT">
		select * FROM fea_investdis_b  where ${propertyName} = '${value}'
	</select>
	
</mapper>