<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.funds.Fea_fundssrcVOMapper">
    
	<sql id="fea_fundssrcVOColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.projectcode AS "projectCode",
		a.projectname AS "projectName",
		a.investtotal AS "investtotal",
		a.isdeductvtax AS "isdeductvtax",
		a.deductvtax AS "deductvtax",
		a.capitalprop AS "capitalprop",
		a.capitalamt AS "capitalamt",
		a.loanprop AS "loanprop",
		a.loanamt AS "loanamt",
		a.setupinterest AS "setupinterest",
		a.iscapitalcy AS "iscapitalcy",
		a.deptid AS "office.id",
		a.corp AS "corp",
		a.remarks AS "remarks",
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		office.name AS "office.name"
	</sql>
	
	<sql id="fea_fundssrcVOJoins">
		
		LEFT JOIN sys_office office ON office.id = a.deptid
	</sql>
	
    
	<select id="get" resultType="Fea_fundssrcVO" >
		SELECT 
			<include refid="fea_fundssrcVOColumns"/>
		FROM fea_fundssrc a
		<include refid="fea_fundssrcVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_fundssrcVO" >
		SELECT 
			<include refid="fea_fundssrcVOColumns"/>
		FROM fea_fundssrc a
		<include refid="fea_fundssrcVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="projectCode != null and projectCode != ''">
				AND a.projectcode LIKE 
					<if test="dbName == 'oracle'">'%'||#{projectCode}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{projectCode}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{projectCode},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_fundssrcVO" >
		SELECT 
			<include refid="fea_fundssrcVOColumns"/>
		FROM fea_fundssrc a
		<include refid="fea_fundssrcVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_fundssrc(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			projectcode,
			projectname,
			investtotal,
			isdeductvtax,
			deductvtax,
			capitalprop,
			capitalamt,
			loanprop,
			loanamt,
			setupinterest,
			iscapitalcy,
			deptid,
			corp,
			remarks
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{projectCode},
			#{projectName},
			#{investtotal},
			#{isdeductvtax},
			#{deductvtax},
			#{capitalprop},
			#{capitalamt},
			#{loanprop},
			#{loanamt},
			#{setupinterest},
			#{iscapitalcy},
			#{office.id},
			#{corp},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_fundssrc SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			projectcode = #{projectCode},
			projectname = #{projectName},
			investtotal = #{investtotal},
			isdeductvtax = #{isdeductvtax},
			deductvtax = #{deductvtax},
			capitalprop = #{capitalprop},
			capitalamt = #{capitalamt},
			loanprop = #{loanprop},
			loanamt = #{loanamt},
			setupinterest = #{setupinterest},
			iscapitalcy = #{iscapitalcy},
			deptid = #{office.id},
			corp = #{corp},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_fundssrc
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_fundssrc SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_fundssrcVO" statementType="STATEMENT">
		select * FROM fea_fundssrc  where ${propertyName} = '${value}'
	</select>
	
</mapper>