<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.analysisearnings.mapper.AnalysisEarningsBMapper">
    
	<sql id="analysisEarningsBColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.pid AS "pid.id",
				
				
				
				
				
				
				
		b.name AS "pid.name"
	</sql>
	
	<sql id="analysisEarningsBJoins">
		
			LEFT JOIN fea_analysis_earnings b ON b.id = a.pid
	</sql>
	
    
	<select id="get" resultType="AnalysisEarningsB" >
		SELECT 
			<include refid="analysisEarningsBColumns"/>
		FROM fea_analysis_earnings_b a
		<include refid="analysisEarningsBJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="AnalysisEarningsB" >
		SELECT 
			<include refid="analysisEarningsBColumns"/>
		FROM fea_analysis_earnings_b a
		<include refid="analysisEarningsBJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="pid != null and pid.id != null and pid.id != ''">
				AND a.pid = #{pid.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="AnalysisEarningsB" >
		SELECT 
			<include refid="analysisEarningsBColumns"/>
		FROM fea_analysis_earnings_b a
		<include refid="analysisEarningsBJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_analysis_earnings_b(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			pid
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{pid.id}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_analysis_earnings_b SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			pid = #{pid.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_analysis_earnings_b
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{pid.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_analysis_earnings_b SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE pid = #{pid.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="AnalysisEarningsB" statementType="STATEMENT">
		select * FROM fea_analysis_earnings_b  where ${propertyName} = '${value}'
	</select>
	
</mapper>