<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.transfer.Fea_design_transferVOMapper">
    
	<sql id="fea_design_transferVOColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.project_id AS "feaProjectB.id",
		a.oneoutheat AS "oneoutheat",
		a.twooutheat AS "twooutheat",
		a.twobackheat AS "twobackheat",
		a.twozfoutheat AS "twozfoutheat",
		a.twozfbacktheat AS "twozfbacktheat",
		a.backhgheat AS "backhgheat",
		a.sumheatefficient AS "sumheatefficient",
		a.loadrate AS "loadrate",
		a.pumprate AS "pumprate",
		a.dept AS "office.id",
				
				
				
				
				
				
				
		feaProjectB.project_name AS "feaProjectB.projectName",
				
				
				
				
				
				
				
				
				
				
		office.name AS "office.name"
	</sql>
	
	<sql id="fea_design_transferVOJoins">
		
		LEFT JOIN fea_project_b feaProjectB ON feaProjectB.id = a.project_id
		LEFT JOIN sys_office office ON office.id = a.dept
	</sql>
	
    
	<select id="get" resultType="Fea_design_transferVO" >
		SELECT 
			<include refid="fea_design_transferVOColumns"/>
		FROM fea_design_transfer a
		<include refid="fea_design_transferVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_design_transferVO" >
		SELECT 
			<include refid="fea_design_transferVOColumns"/>
		FROM fea_design_transfer a
		<include refid="fea_design_transferVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_design_transferVO" >
		SELECT 
			<include refid="fea_design_transferVOColumns"/>
		FROM fea_design_transfer a
		<include refid="fea_design_transferVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_design_transfer(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			project_id,
			oneoutheat,
			twooutheat,
			twobackheat,
			twozfoutheat,
			twozfbacktheat,
			backhgheat,
			sumheatefficient,
			loadrate,
			pumprate,
			dept
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{feaProjectB.id},
			#{oneoutheat},
			#{twooutheat},
			#{twobackheat},
			#{twozfoutheat},
			#{twozfbacktheat},
			#{backhgheat},
			#{sumheatefficient},
			#{loadrate},
			#{pumprate},
			#{office.id}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_design_transfer SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			project_id = #{feaProjectB.id},
			oneoutheat = #{oneoutheat},
			twooutheat = #{twooutheat},
			twobackheat = #{twobackheat},
			twozfoutheat = #{twozfoutheat},
			twozfbacktheat = #{twozfbacktheat},
			backhgheat = #{backhgheat},
			sumheatefficient = #{sumheatefficient},
			loadrate = #{loadrate},
			pumprate = #{pumprate},
			dept = #{office.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_design_transfer
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_design_transfer SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_design_transferVO" statementType="STATEMENT">
		select * FROM fea_design_transfer  where ${propertyName} = '${value}'
	</select>
	
</mapper>