<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.costinfo.Fea_costinfoVOMapper">
    
	<sql id="fea_costinfoVOColumns">
		a.id AS "id",
		a.projectcode AS "projectcode",
		a.projectname AS "projectname",
		a.costype AS "costype",
		a.unit AS "unit",
		a.productrate AS "productrate",
		a.product AS "product",
		a.year17 AS "year",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.year18 AS "year18",
		a.year19 AS "year19",
		a.year20 AS "year20",
		a.year21 AS "year21",
		a.year22 AS "year22",
		a.year23 AS "year23",
		a.year24 AS "year24",
		a.year25 AS "year25",
		a.year26 AS "year26",
		a.year27 AS "year27"
	</sql>
	
	<sql id="fea_costinfoVOJoins">
		
	</sql>
	
    
	<select id="get" resultType="Fea_costinfoVO" >
		SELECT 
			<include refid="fea_costinfoVOColumns"/>
		FROM fea_costinfo a
		<include refid="fea_costinfoVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_costinfoVO" >
		SELECT 
			<include refid="fea_costinfoVOColumns"/>
		FROM fea_costinfo a
		<include refid="fea_costinfoVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_costinfoVO" >
		SELECT 
			<include refid="fea_costinfoVOColumns"/>
		FROM fea_costinfo a
		<include refid="fea_costinfoVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_costinfo(
			id,
			projectcode,
			projectname,
			costype,
			unit,
			productrate,
			product,
			year17,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			year18,
			year19,
			year20,
			year21,
			year22,
			year23,
			year24,
			year25,
			year26,
			year27
		) VALUES (
			#{id},
			#{projectcode},
			#{projectname},
			#{costype},
			#{unit},
			#{productrate},
			#{product},
			#{year},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{year18},
			#{year19},
			#{year20},
			#{year21},
			#{year22},
			#{year23},
			#{year24},
			#{year25},
			#{year26},
			#{year27}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_costinfo SET 	
			projectcode = #{projectcode},
			projectname = #{projectname},
			costype = #{costype},
			unit = #{unit},
			productrate = #{productrate},
			product = #{product},
			year17 = #{year},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			year18 = #{year18},
			year19 = #{year19},
			year20 = #{year20},
			year21 = #{year21},
			year22 = #{year22},
			year23 = #{year23},
			year24 = #{year24},
			year25 = #{year25},
			year26 = #{year26},
			year27 = #{year27}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_costinfo
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_costinfo SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_costinfoVO" statementType="STATEMENT">
		select * FROM fea_costinfo  where ${propertyName} = '${value}'
	</select>
	
</mapper>