<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.fea.mapper.set.Fea_design_setVOMapper">
    
	<sql id="fea_design_setVOColumns">
		a.id AS "id",
		a.project_id AS "feaProjectB.id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.sumheatefficient AS "sumheatefficient",
		a.loadrate AS "loadrate",
		a.pumprate AS "pumprate",
		a.hddept AS "hddept",
		a.hdlose AS "hdlose",
		a.rou AS "hx1",
		a.hx2 AS "hx2",
		a.hb2 AS "hb2",
		a.mpumpcoe AS "mpumpcoe",
		a.dept AS "office.id",
		a.remarks AS "remarks",
				
		feaProjectB.project_name AS "feaProjectB.projectName",
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		office.name AS "office.name"
	</sql>
	
	<sql id="fea_design_setVOJoins">
		
		LEFT JOIN fea_project_b feaProjectB ON feaProjectB.id = a.project_id
		LEFT JOIN sys_office office ON office.id = a.dept
	</sql>
	
    
	<select id="get" resultType="Fea_design_setVO" >
		SELECT 
			<include refid="fea_design_setVOColumns"/>
		FROM fea_design_set a
		<include refid="fea_design_setVOJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Fea_design_setVO" >
		SELECT 
			<include refid="fea_design_setVOColumns"/>
		FROM fea_design_set a
		<include refid="fea_design_setVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="feaProjectB != null and feaProjectB.id != null and feaProjectB.id != ''">
				AND a.project_id = #{feaProjectB.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Fea_design_setVO" >
		SELECT 
			<include refid="fea_design_setVOColumns"/>
		FROM fea_design_set a
		<include refid="fea_design_setVOJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO fea_design_set(
			id,
			project_id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			sumheatefficient,
			loadrate,
			pumprate,
			hddept,
			hdlose,
			rou,
			hx2,
			hb2,
			mpumpcoe,
			dept,
			remarks
		) VALUES (
			#{id},
			#{feaProjectB.id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{sumheatefficient},
			#{loadrate},
			#{pumprate},
			#{hddept},
			#{hdlose},
			#{hx1},
			#{hx2},
			#{hb2},
			#{mpumpcoe},
			#{office.id},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE fea_design_set SET 	
			project_id = #{feaProjectB.id},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			sumheatefficient = #{sumheatefficient},
			loadrate = #{loadrate},
			pumprate = #{pumprate},
			hddept = #{hddept},
			hdlose = #{hdlose},
			rou = #{hx1},
			hx2 = #{hx2},
			hb2 = #{hb2},
			mpumpcoe = #{mpumpcoe},
			dept = #{office.id},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM fea_design_set
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE fea_design_set SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Fea_design_setVO" statementType="STATEMENT">
		select * FROM fea_design_set  where ${propertyName} = '${value}'
	</select>
	
</mapper>